*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:
"Microsoft JhengHei",
sans-serif;

}



body{

background:#020617;

color:white;

}



nav{

display:flex;

justify-content:space-between;

padding:25px 10%;

background:#0f172a;

position:fixed;

width:100%;

z-index:10;

}



.logo{

color:#38bdf8;

}



nav ul{

display:flex;

gap:30px;

list-style:none;

}


nav a{

color:white;

text-decoration:none;

}




.hero{


height:100vh;

display:flex;

align-items:center;

justify-content:space-around;

padding:10%;


}



.tag{

color:#38bdf8;

}



h1{

font-size:70px;

margin:20px 0;

}



.hero p{

font-size:20px;

line-height:2;

}




.robot{

font-size:180px;

animation:rotate 5s infinite linear;

}



@keyframes rotate{

0%{

transform:rotate(0deg);

}

100%{

transform:rotate(360deg);

}

}




.btn{


display:inline-block;

margin-top:30px;

padding:15px 35px;

background:#2563eb;

border-radius:30px;

color:white;

text-decoration:none;


}



section{


padding:100px 10%;

}



h2{

font-size:40px;

margin-bottom:40px;

color:#38bdf8;

}



.cards{


display:flex;

gap:30px;


}



.card{


background:#1e293b;

padding:30px;

border-radius:15px;

width:33%;


}




.skill div{


background:#334155;

height:15px;

margin-bottom:25px;

border-radius:10px;


}



.skill span{


display:block;

height:100%;

background:#38bdf8;

border-radius:10px;


}




footer{


text-align:center;

padding:30px;

background:#0f172a;


}




@media(max-width:768px){


.hero{

flex-direction:column;

text-align:center;

}


h1{

font-size:45px;

}


.cards{

flex-direction:column;

}


.card{

width:100%;

}


}
